@import '../../../variables';


.releaseList{
    padding: 44px 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .releaseList___Table{
        width: 100%;   
        box-shadow: 0 5px 15px $gray-color-strong;     
        
        .releaseList___Table___header{
            cursor: default;
            padding: 12px 0;
            background-color: $dark-color;
            color: $white-color;
        }
    }
}

