//Author: Daniel Emidio

// Fonts
$font-base: "Montserrat", sans-serif;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1.75rem;
$font-size-base: 1rem;
$primary-color: yellow;

// Colors
$dark-color: #333;
$white-color: #FFF;
$black-color: #000;
$gray-color: #F7F7F7;
$gray-color-strong: #AAA;
$alert-color: #d0342c;
$sucess-color: #63BB0E;
$primary-color: #006DB2;